* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.container {
  width: 1200px;
}

#main {
  width: 100%;
  margin: 0 auto;
}

@import 'adventure/main';
@import 'directives/main';
@import 'home/main';
@import 'login/main';
@import 'media-queries/main';
@import 'game-stage/main';
